TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
NAME=ens224
DEVICE=ens224
ONBOOT=yes
IPADDR={{ mgmtip }}
PREFIX={{ mgmtsub }}
GATEWAY={{ mgmtgwip }}
DNS1={{ mgmtdnsip1 }}
DNS2={{ mgmtdnsip2 }}
DOMAIN={{ domainname }}
IPV6_PRIVACY=no