$TTL 86400
@   IN  SOA     {{ dnshostname }}.{{ domainname }}. root.{{ domainname }}. (
                                              3           ;Serial
                                              3600        ;Refresh
                                              1800        ;Retry
                                              604800      ;Expire
                                              86400       ;Minimum TTL
)

;Name Server Information
@				IN  NS      {{ dnshostname }}.{{ domainname }}.

;IP address of Name Server
{{ dnshostname }}			IN  A 		{{ hostgwip }}

;A - Record HostName To Ip Address
esxi010 		IN  A       172.21.0.10